@define-color foreground #B0BEC5;
@define-color background #263238;
@define-color backgroundDark #222d32;
@define-color backgroundDarkest #1B2529;
@define-color backgroundSelect #314549;
@define-color accent #16a085;

@define-color black #1E272C;
@define-color red #FF5370;
@define-color green #C3E88D;
@define-color yellow #FFCB6B;
@define-color blue #82AAFF;
@define-color magenta #C792EA;
@define-color cyan #89DDFF;
@define-color white #EAEAEA;

* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 13px;
    font-weight: 700;
    color: @foreground;
}

window#waybar {
    background-color: @backgroundDark;
}

.modules-right {
    margin-right: 8px
}

/* SWAY ------------------------------------------------------------------------------------------------------------ */
#workspaces button {
    background-color: @backgroundDarkest;
    padding: 4px;
}

#workspaces button:hover label {
    color: @foreground;
}

#workspaces button.current_output {
    background-color: @backgroundDark;
}

#workspaces button.focused {
    padding-bottom: 0;
    border-bottom: 2px solid @accent;
}

#workspaces button.urgent {
    background-color: @red;
    border: 0;
}

#workspaces button.urgent label {
    color: @backgroundDarkest;
}

/* Clock ----------------------------------------------------------------------------------------------------------- */
#clock {
    padding: 0 4px;
    border-bottom: 2px solid @red;
}

/* Pulse Audio ----------------------------------------------------------------------------------------------------- */
#pulseaudio {
    padding: 0 8px;
    border-bottom: 2px solid @yellow;
}

#pulseaudio.muted {
    font-weight: 100;
    background-color: @backgroundDark;
    border-bottom: 2px dotted @yellow;
}

/* CPU ------------------------------------------------------------------------------------------------------------- */
#cpu {
    padding: 0 8px;
    border-bottom: 2px solid @blue;
}

#cpu.critical {
    font-weight: 900;
    color: @background;
    background-color: @blue;
}

/* Memory ---------------------------------------------------------------------------------------------------------- */
#memory {
    padding: 0 8px;
    border-bottom: 2px solid @magenta;
}

#memory.critical {
    font-weight: 900;
    color: @background;
    background-color: @magenta;
}

/* Idle Inhibitor -------------------------------------------------------------------------------------------------- */
#idle_inhibitor {
    padding: 0 4px 0 8px;
}

#idle_inhibitor.activated {
    font-weight: 900;
    color: @background;
    background-color: @green;
}
