#!/bin/sh
# ---------------------------------------------------------------------------------------------------------------------
# X Profile
#
# This file will be sourced when the graphical session is started (via a DM).
# Used for starting up programs on launching the graphical environment.
# ---------------------------------------------------------------------------------------------------------------------
# shellcheck disable=SC1090
[ -f "$HOME/.zprofile" ] && . "$HOME/.zprofile"

xrdb "$XDG_CONFIG_HOME/x11/xresources"      # Load Color Resources
host_override -s screen_layout.sh           # Optional xRandr Setup
hsetroot -solid '#263238'                   # Set a default background color.
xsetroot -cursor_name left_ptr              # Get rid of the default "X" cursor.
sxhkd &                                     # Hot Key Service
dunst &                                     # Notification Service
nm-applet &                                 # Networking Tray
picom --daemon                              # Display Compositor
unclutter &                                 # Hides Inactive Cursor
alacritty &                                 # Emergency Terminal
light-locker &                              # Screen locking daemon.
notify-send 'Welcome!'                      # Greeting
